/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* Variables CSS */
:root {

    /* Colors */
    --primary-color      : #BA2530;
    --primary-light-color: #FFD6D7;
    --yellow-color       : #FEC65E;
    --white-color        : #FFFFFF;
    --black-color        : #7f7f90;

    /* Font & Typography */
    --body-font        : 'Poppins', sans-serif;
    --biggest-font-size: 58px;
    --h1-font-size     : 45px;
    --normal-font-size : 18px;
    --small-font-size  : 16px;
    --smaller-font-size: 14px;

    /* Font Weight */
    --font-semibold: 600;
    --font-medium  : 500;
}

body {
    font-family: var(--body-font);
}

a,
a:hover {
    text-decoration: none;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
}

.bg-primary-light {
    background-color: var(--primary-light-color) !important;
}

.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
    background: #fff;
}

/* page loader */
.spinner-wrapper {
    background-color: #000;
    position        : fixed;
    top             : 0;
    left            : 0;
    width           : 100%;
    height          : 100%;
    z-index         : 9999;
    display         : flex;
    justify-content : center;
    align-items     : center;
    transition      : all 0.3s;
}

.spinner-border {
    height: 60px;
    width : 60px;
}

/* section */
section {
    overflow: hidden;
    padding : 80px 0;
}

.section-header {
    text-align    : center;
    padding-bottom: 30px;
}

.section-header h2 {
    letter-spacing: 1px;
    font-weight   : 600;
    margin        : 0;
    padding       : 0;
    color         : var(--primary-color);
    font-family   : var(--font-default);
}

.section-header h2 span {
    color: var(--black-color);
}

.section-header p {
    margin     : 0;
    font-weight: 400;
    font-family: var(--font-primary);
    color      : gray;
}

.section-header p span {
    color: var(--color-primary);
}

.section-bg {
    background-color: #eee;
}

/* custom Scrollbar */
::-webkit-scrollbar {
    width: 0.365rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background      : var(--primary-color);
    /* border-radius: 0.5rem; */
}

/* Navbar */
.header {
    border-bottom: 1px solid #e5e5e7;
}

.navbar {
    padding   : 12px 0;
    transition: all 0.5s ease;
}

.navbar-brand {
    font-size  : 32px;
    font-weight: 700;
    color      : var(--primary-color);
    margin     : 0;
    font-family: var(--font-secondary);
}

.navbar-brand:focus,
.navbar-brand:hover {
    color: var(--primary-color);
}

.navbar-brand span {
    font-size  : var(--normal-font-size);
    font-weight: var(--font-medium);
    color      : var(--black-color) !important;
    font-family: 'Poppins', sans-serif;
}

.navbar-brand:hover {
    color: var(--primary-color);
}

.nav-link {
    position    : relative;
    margin-right: 39px;
    font-weight : var(--font-medium);
    color       : var(--black-color);
}

.nav-link:hover {
    color: var(--primary-color);
}

.nav-link.active {
    color      : var(--primary-color);
    font-weight: var(--font-semibold);
}

.nav-link:before {
    content         : "";
    position        : absolute;
    width           : 100%;
    height          : 2px;
    bottom          : -6px;
    left            : 0;
    background-color: var(--primary-color);
    visibility      : hidden;
    width           : 0px;
    transition      : all 0.3s ease-in-out 0s;
}

.nav-link:hover:before,
.navbar li:hover>.nav-link:before,
.nav-link.active:before {
    visibility: visible;
    width     : 100%;
}

.drop-shadow {
    box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.04);
}

/* Button */
.btn {
    padding      : 10px 22px;
    border-radius: 4px;
    font-size    : var(--small-font-size);
    font-weight  : var(--font-medium);
}

.btn-primary {
    background-color: var(--primary-color);
    border          : none;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    filter          : drop-shadow(0px 10px 30px rgba(168, 37, 48, 0.15));
    background-color: var(--primary-color) !important;
}

/* Hero */
.hero .carousel-item {
    width           : 100%;
    height          : 42rem;
    background-color: #000;
}

.hero .carousel-item img {
    width     : 100%;
    height    : 100%;
    object-fit: cover;
    opacity   : 0.6;
}

/* About */
.bg-img {
    background-image   : url("/assets/img/about.png");
    background-repeat  : no-repeat;
    background-size    : contain;
    background-position: left;
}

/* Menu */
.menu .nav,
.menu .nav-link {
    border: none;
}

.menu .nav-link {
    cursor       : pointer;
    margin-bottom: 2rem;
}

.menu .nav-link.active {
    color       : var(--primary-color);
    border-color: var(--primary-color);
}

.menu .nav-tabs .nav-link:focus,
.menu .nav-tabs .nav-link:hover {
    isolation   : isolate;
    border-color: var(--bs-nav-tabs-link-hover-border-color);
}

.menu .nav-link h4 {
    font-size  : 18px;
    font-weight: 400;
    margin     : 0;
    font-family: var(--font-secondary);
}

.menu .tab-content .menu-item {
    -moz-text-align-last: center;
    text-align-last     : center;
}

.menu .tab-content .menu-item .menu-img {
    padding      : 0 60px;
    margin-bottom: 15px;
}

.menu .tab-content .menu-item h4 {
    font-size    : 22px;
    font-weight  : 500;
    font-weight  : 30px;
    margin-bottom: 5px;
    color        : #37373f;
}

.menu .tab-content .menu-item .ingredients {
    color        : #8d8d9b;
    margin-bottom: 5px;
}

.menu .tab-content .menu-item .price {
    font-size  : 24px;
    font-weight: 700;
    color      : var(--primary-color);

}

/* Testimonial */
.testimonials .section-header {
    margin-bottom: 40px;
}

.testimonials .testimonials-carousel,
.testimonials .testimonials-slider {
    overflow: hidden;
}

.testimonials .testimonial-item .testimonial-content {
    border-left : 3px solid var(--primary-color);
    padding-left: 30px;
}

.testimonials .testimonial-item .testimonial-img {
    border-radius: 50%;
    border       : 4px solid #fff;
    margin       : 0 auto;
}

.testimonials .testimonial-item h3 {
    font-size  : 20px;
    font-weight: bold;
    margin     : 10px 0 5px 0;
    color      : var(--primary-color);
}

.testimonials .testimonial-item h4 {
    font-size: 14px;
    color    : #6c757d;
    margin   : 0 0 10px 0;
}

.testimonials .testimonial-item .stars i {
    color : #ffc107;
    margin: 0 1px;
}

.testimonials .testimonial-item .quote-icon-left,
.testimonials .testimonial-item .quote-icon-right {
    color      : var(--primary-color);
    font-size  : 26px;
    line-height: 0;
}

.testimonials .testimonial-item .quote-icon-left {
    display : inline-block;
    left    : -5px;
    position: relative;
}

.testimonials .testimonial-item .quote-icon-right {
    display  : inline-block;
    right    : -5px;
    position : relative;
    top      : 10px;
    transform: scale(-1, -1);
}

.testimonials .testimonial-item p {
    font-style: italic;
}

.testimonials .swiper-pagination {
    margin-top: 40px;
    position  : relative;
}

.testimonials .swiper-pagination .swiper-pagination-bullet {
    width           : 12px;
    height          : 12px;
    background-color: #d1d1d7;
    opacity         : 1;
}

.testimonials .swiper-pagination .swiper-pagination-bullet-active {
    background-color: var(--primary-color);
}

/* Contact Us */
.contact .info-item {
    background: #f4f4f4;
    padding   : 30px;
}

.contact .info-item .icon {
    display        : flex;
    align-items    : center;
    justify-content: center;
    width          : 56px;
    height         : 56px;
    font-size      : 24px;
    line-height    : 0;
    color          : #fff;
    background     : var(--primary-color);
    border-radius  : 5%;
    margin-right   : 15px;
}

.contact .info-item h3 {
    font-size  : 20px;
    color      : #6c757d;
    font-weight: 700;
    margin     : 0 0 5px 0;
}

.contact .info-item p {
    padding    : 0;
    margin     : 0;
    line-height: 24px;
    font-size  : 14px;
}

.contact .info-item .social-links a {
    font-size  : 24px;
    display    : inline-block;
    color      : rgba(55, 55, 63, 0.7);
    line-height: 1;
    margin     : 4px 6px 0 0;
    transition : 0.3s;
}

.contact .info-item .social-links a:hover {
    color: var(--color-primary);
}

.contact .contact-form {
    width     : 100%;
    height    : 100%;
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
}

.contact .contact-form .form-group {
    padding-bottom: 20px;
}

.contact .contact-form .error-message {
    display    : none;
    color      : #fff;
    background : #df1529;
    text-align : left;
    padding    : 15px;
    font-weight: 600;
}

.contact .contact-form input,
.contact .contact-form textarea {
    border-radius: 0;
    box-shadow   : none;
    font-size    : 14px;
    border       : 1px solid var(--primary-color);
}

.contact .contact-form input:focus,
.contact .contact-form textarea:focus {
    border-color: var(--color-primary);
}

.contact .contact-form input {
    height: 48px;
}

.contact .contact-form textarea {
    padding: 10px 12px;
    resize : none;
}

.error.message {
    visibility: visible;
    opacity   : 1;
}

.message {
    font-weight: 700;
    color      : #f55e5e;
    margin     : 0 auto 1rem 0;
    visibility : hidden;
    opacity    : 0;
    transition : opacity .3s;
}

/* Newsletter */


/* Footer */
.footer-wrap {
    position   : relative;
    padding-top: 20px;
    color      : #fff;
}

.footer-wrap .footer-top .footer-logo {
    display    : block;
    margin     : 0 0 25px;
    position   : relative;
    font-size  : 32px;
    font-weight: 700;
    color      : var(--primary-color);
    font-family: var(--font-secondary);
}

.footer-wrap .footer-top .comp-desc {
    color : #fff;
    margin: 0 0 18px;
}

.footer-wrap .footer-top .contact-item-wrap {
    margin-bottom: 25px;
}

.footer-wrap .footer-top .contact-item-wrap .contact-item i {
    position : absolute;
    color    : var(--primary-color);
    top      : 3px;
    left     : 0;
    font-size: 17px;
}

.footer-wrap .footer-top .contact-item-wrap .contact-item a {
    padding-left: 28px;
    color       : #fff;
    font-size   : 15px;
}

.footer-wrap .footer-top .contact-item-wrap .contact-item {
    position: relative;
    margin  : 0 0 5px;
}

.footer-wrap .footer-top .flink {
    transition: all 0.2s;
}

.footer-wrap .footer-top .flink:hover {
    color: var(--primary-color) !important;
}

.footer-wrap .footer-bottom {
    position  : relative;
    z-index   : 1;
    padding   : 18px 0;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-wrap .footer-bottom .copyright {
    text-align   : left;
    margin-bottom: 0;
}

.footer-wrap .footer-bottom ul.social-profile {
    padding   : 0;
    margin    : 0;
    list-style: none;
    display   : flex;
}

.footer-wrap .footer-bottom ul.social-profile li {
    height       : 40px;
    width        : 40px;
    margin       : 0 8px 0 0;
    padding      : 6px;
    font-size    : 23px;
    background   : #232323;
    border-radius: 50%;
    text-align   : center;
}

.footer-wrap .footer-bottom ul.social-profile li a i {
    color: var(--primary-color);
}

.footer-wrap .footer-bottom ul.social-profile li:hover {
    background-color: var(--primary-color);
}

.footer-wrap .footer-bottom ul.social-profile li:hover i {
    color: #fff;
}

.footer-wrap .footer-bottom .grid-wrap {
    position             : relative;
    width                : 100%;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(15px, 1fr));
}

.footer-wrap .footer-bottom .grid-item {
    position       : relative;
    flex-direction : unset;
    display        : flex;
    justify-content: space-between;
}


.footer-wrap .footer-bottom .copyright-link:hover {
    color: var(--primary-color) !important;
}

/* Scroll top button */
.scroll-top {
    position     : fixed;
    visibility   : hidden;
    opacity      : 0;
    right        : 15px;
    bottom       : 15px;
    z-index      : 99999;
    background   : var(--primary-color);
    width        : 44px;
    height       : 44px;
    border-radius: 50px;
    transition   : all 0.4s;
}

.scroll-top i {
    font-size  : 24px;
    color      : #fff;
    line-height: 0;
}

.scroll-top:hover {
    background: #ec2727;
    color     : #fff;
}

.scroll-top.active {
    visibility: visible;
    opacity   : 1;
}